/* src/App.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: 20px; 
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* TaskInput Component Styles */
form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* TaskList Component Styles */
ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: 4px 8px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
}

/* TaskList Component Styles */

/* Update button */
button.update-btn {
  padding: 4px 8px;
  background-color: #28a745; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.update-btn:hover {
  background-color: #218838; 
}

/* Save button */
button.save-btn {
  padding: 4px 8px;
  background-color: #28a745; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.save-btn:hover {
  background-color: #218838; 
}

/* Numbered list */
ul.numbered-list {
  counter-reset: item;
}

li {
  margin-bottom: 12px;
  counter-increment: item;
}

li::before {
  content: counter(item) ".";
  font-weight: bold;
  margin-right: 0px;
  display: inline-block;
  width: 20px;
}

@media screen and (max-width: 500px) {
  li::before {
    display: block;
    width: auto; 
    margin-bottom: 5px; 
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  input[type="text"],
  button[type="submit"],
  button,
  button.update-btn,
  button.save-btn {
    padding: 5px 15px;
    font-size: 14px;
  }
}