/* src/App.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: 50px; 
}

h1 {
  text-align: center;
}

/* TaskInput Component Styles */
form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Update TaskList Component Styles in your CSS file */
.container {
  max-width: 800px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* Align items vertically */
}

.item-number {
  margin-right: 10px; /* Adjust as needed */
  font-weight: bold; /* Optional: Make item numbers bold */
}

.item-text {
  flex: 1; /* Fill remaining space */
  margin-right: 10px; /* Add space between item text and buttons */
  max-width: 200px; /* Limit the maximum width */
  word-wrap: break-word; /* Ensure text wraps onto the next line */
}

button {
  padding: 4px 8px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px; /* Add space between buttons */
}

button:hover {
  background-color: #c82333;
}

/* Update button */
button.update-btn {
  padding: 4px 8px;
  background-color: #28a745; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.update-btn:hover {
  background-color: #218838; 
}

/* Save button */
button.save-btn {
  padding: 4px 8px;
  background-color: #28a745; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.save-btn:hover {
  background-color: #218838; 
}

/* Share button */
button.share-btn {
  padding: 8px 16px;
  background-color: #25D366; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px; /* Add space between buttons */
}

button.share-btn:hover {
  background-color: #1DA951; 
}

/* Download button */
button.download-btn {
  padding: 8px 16px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.download-btn:hover {
  background-color: #0056b3; 
}

.share-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  li::before {
    display: block;
    width: auto; 
    margin-bottom: 5px; 
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  input[type="text"],
  button[type="submit"],
  button,
  button.update-btn,
  button.save-btn {
    padding: 5px 15px;
    font-size: 14px;
  }
}

footer {
  padding: 15px 15px;
  text-align: center;
  color: #0071b3;
  font-size: .75rem; /* Equivalent to h5 font size */
}
.checkbox-label {
  position: relative;
  margin-right: 10px;
}

.checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 30%;
  background-color: #ffffff;
  border: 2px solid #007bff;
  cursor: pointer;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-custom::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff; /* Color when checkbox is checked */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

input[type="checkbox"]:checked + .checkbox-custom::after {
  opacity: 1;
}